<!-- views/partials/footer.ejs -->
    <footer class="footer mb-0 text-center w-full bottom-0 bg-black">
        <p class = "text-center mx-auto font-bold mt-10 text-white text-4xl sm:text-lg">&#x40; 2023 Message Board.</p>
    </footer>